:root {
	--white: hsl(0, 0%, 100%);
	--dark: hsl(0, 0%, 0%);
	--blue: hsl(218, 58%, 96%);
	--darker-blue: hsla(217, 52%, 83%);
	--shadow: hsl(218, 75%, 87%);
	--shadow-dropdown: rgba(198, 216, 247, 0.7);
}
