@use "../util" as *;

body {
	width: 100%;
	min-height: 100vh;
	display: grid;
	padding: 25px 0;
	align-items: center;
}

.container {
	position: relative;
	padding-left: 25px;
	padding-right: 25px;

	@media screen and (min-width: 1160px) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		max-width: 1110px;
	}
}

.content {
	padding: 100px 25px;
	border-radius: 20px;
	text-align: center;
	background-color: var(--white);
	box-shadow: 0px 34px 25px -20px var(--shadow);
}

.header {
	max-width: 450px;
	margin: auto;
}

.accounts-container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 50px 20px;
	justify-content: center;
	align-items: center;
}
